<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>enhancedfields</name>
    <displayName><![CDATA[Enhanced Fields]]></displayName>
    <version><![CDATA[1.1.4]]></version>
    <description><![CDATA[New fields for adminisration forms.]]></description>
    <author><![CDATA[diezsiete]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>
