.enhanced-file-upload {
  .dummy-input {
    cursor: default;
  }
  .custom-file-label:after {
    content: attr(data-after-content) !important;
  }

  .file-viewer {
    margin-top: 1.2rem;
  }

  figure {
    position: relative;
    display: block;
  }

  .figure-img-container {
    position: relative;
  }
  .figure-img {
    margin-bottom: 0;
    width: 100%;
    &:not([src]) {
      border: none;
    }
  }

  .loader-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease, visibility 300ms ease;
    //margin-bottom: .9375rem;

    > div {
      width: 30px;
      height: 30px;
      border: 2px solid #ddd;
      border-top: 2px solid #2942cc;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      background: transparent;
    }
  }
  figure.loading {
    .figure-img-container {
      min-height: 50px;
    }
    .loader-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  figcaption {
    margin-top: .9375rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
